@mixin font {
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: 'Gagalin-Regular';
    src: url('../../fonts/Gagalin/Gagalin-Regular.woff2'); 
       
  @include font;
  }
  
  @font-face {
    font-family: 'ubuntubold';
    src: url('../../fonts/Ubuntu/Ubuntu-Bold.woff2');
        
    @include font;
  }
  
  @font-face {
    font-family: 'ubuntulight';
    src: url('../../fonts/Ubuntu/Ubuntu-Light.woff2');
         @include font;
  }
  
  @font-face {
    font-family: 'ubuntumedium';
    src: url('../../fonts/Ubuntu/Ubuntu-Medium.woff2');
         @include font;
  }
  
  @font-face {
    font-family: 'ubunturegular';
    src: url('../../fonts/Ubuntu/Ubuntu.woff2');
  
         @include font;
  }
  
  @font-face {
    font-family: 'lifehackmedium';
    src: url('../../fonts/Lifehack/Lifehack-Medium.woff2');
         @include font;
  }