//Media
@mixin desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
  
  @mixin laptop {
    @media (max-width: $laptop) {
      @content;
    }
  }
  
  @mixin tablets {
    @media (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media (max-width: $phones) {
      @content;
    }
  }
  
  @mixin small-phones {
    @media (max-width: $small-phones) {
      @content;
    }
  }

  @mixin cover{
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  }
  @mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: 50%;
    background-color: $color;
  }
  @mixin size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
  }