.header{
    padding-top:0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__buttons{
  display: flex;
    align-items: center;

}
.header__links{
    @include tablets() {
margin-right: 3rem;

}
}

.nav__header{
margin-right:1.25rem;
@include tablets{
    display:none;
}
}