.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .overlay-wrap {
    margin:0 auto;
  }
  
  .content {
    width: 400px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font: 16px Helvetica, sans-serif;
    margin: 0;
  }
  
  .close {
   // font: 16px Helvetica, sans-serif;
    //color: #fff;
    display: block;
    position: relative;
    right: -24rem;
    top: 0.5rem;
    background: #d00;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    &:after{
      top: 12px;
   left: 5px;
 transform: translate(-50%);
   position:absolute;
   content:'';
  width: 20px;
 height: 5px;
 background: gold;
transform: rotate(45deg);
 }
 &:before{
       top: 12px;
   left: 5px;
   position:absolute;
   content:'';
  width: 20px;
 height: 5px;
 background: gold;
transform: rotate(-45deg);
 }
 

  }
 
  
  .overlay__title{
    font-size: 0.875rem;
    font-family: "Gagalin-regular";
    line-height: 2;
  }
  .overlay__text{
    text-align: center;
  }