.nav{
    margin-right: 0.937rem;
}
.nav__list{
    width: 100%;

    display:flex;
}
.nav__item {
    white-space: nowrap;
}
.nav__item:last-child .nav__link:after{
    display:none;
}

.nav__link{
    color:#fff;
    font-size: 0.8121rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:after{
        content:"";
        width: 0.25rem;
        height: 0.25rem;
        display: block;
        border-radius: 50%;
        background: $white;
        margin: 0 0.625rem;
      
       
    }

    
}
.order-btn{

}