.nav-mobile {
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -999px;
    right: 0;
    left: 0;
    z-index: 99;
    &__menu {
      display: none;
    }
    .logo {
      display: none;
    }
    &.is-active {
        background: black;

      top: 0;
      bottom: 0;
      background-color: rgba($grey, 0.95);
      transition: 0.5s;
      .nav-mobile__menu {
        display: block;
      }
      .logo {
        display: block;
        position: fixed;
        top: 0.625rem;
        left: 1.5rem;
        z-index: 999;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after {
        content: "";
        @include circle(0.3125rem, $white);
        margin: 1rem 0;
      }
      &:last-child::after {
        display: none;
      }
    }
    &__link {
      color:$white;
      font-size: 1.375rem;
      padding: 0.25rem;
      text-transform: uppercase;
    }
}
