.order{
    background-color: $black;
    background: url('../images/order/bg-texture.png') center center /cover ;
    display: flex;
    align-items: center;
}
form{
    color: $white;
    display: flex;
    @include tablets{
        flex-direction: column;
        align-items: center;
      
    }
}
.form__col{
    min-width: 50%;
    @include tablets{
        min-width: 50%;
    }
   
}

.form__col_part2{
    @include phones{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}
.form__row{
    padding-top: 1.25rem;
    display:flex;
    align-items: center;
}
.form__part1{
    @include tablets{
        padding: 0% 7%;
       
    }
}
.form__part2{
    min-width: 50%;
    
  @include tablets{
      padding: 0% 7%;
      width:100%;
  }
}
.form__block{
    flex:1;
    margin-right:1.25rem;
}
.form__block-title{
    font-family: 'ubuntulight';
    font-size: 0.875rem;

}
input[type="text"]::placeholder {
    font-size: 0.875rem;
    color: rgb(47, 50, 52);
    line-height: 1.714;

    font-family: 'ubuntulight';
    
   }
   textarea::placeholder {
    font-size: 0.875rem;
    color: rgb(47, 50, 52);
    line-height: 1.714;

    font-family: 'ubuntulight';

   }

  
.form__input{
    width:100%;
    border-radius: 0.1875rem ;
    border: 0.1875rem solid transparent;
}
.textarea__input{
    resize:none;
    border-radius:  0.1875rem ;
    width: 100%;
}                                     
///                             radio-buttons
.form__radios {
    display: flex;
  }
  
  .form__radio {
    display: flex;
    margin-right: 1.25rem;
    position: relative;
  }
  .form__radio-title{
    user-select: none;
    font-size: 0.875rem;
    font-family: "ubuntulight";
    color: rgb(255, 255, 255);

  }
  
    .form__radio-elem{
    position: absolute;
    left: -9999px;
  }
  .form__radio-fake {
    width: 0.937rem;
    height: 0.937rem;
    border-radius: 50%;
    background: white;
    margin-right: 0.3125rem;
    position: relative;
  }
  .form__radio-fake::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0;
    border-radius: 50%;
    background:$orange;
  }
 
 
  .form__radio-elem:checked + .form__radio-fake::after {
    width: 0.4375rem;
    height: 0.4375rem;
  }
   ////                                             checkbox      
  
   .form__checkboxs{
        display:flex;

    }
    
    .form__checkbox{
            display: flex;
    }

     .form__checkbox-elem{
        position:absolute;
        left: -9999px;

    }

   .form__checkbox-title{
       user-select: none;
       margin-left: 0.625rem;
    font-size: 0.875rem;
    font-family: "ubuntulight";
    color: rgb(255, 255, 255);
   }
   

   .form__checkbox-fake{
       position: relative;
       display:block;
       background-color: white;
    width:0.937rem;
    height: 0.937rem;
   }

   .form__checkbox-fake:after{
       position: absolute;
       width:0rem;
       height: 0rem;
       content:'';  
       background:url('../images/checkbox.png') center no-repeat;
   }
    .form__checkbox-elem:checked + .form__checkbox-fake::after{

        width:0.937rem;
        height: 0.937rem;
    }

                                 
