.order{
    background-color: $black;
    background: url('../images/order/bg-texture.png') center center /cover ;
}
form{
    color: $white;
    display: flex;
}
.form__col{
    width: 50%;
}
.form__row{
    padding-top: 20px;
    display:flex;
    align-items: center;
}
.form__block{
    flex:1;
    margin-right:20px;
}
.form__block-title{
    font-family: 'ubuntulight';
    font-size: 14px;

}
input[type="text"]::placeholder {
    font-size: 14px;
    color: rgb(47, 50, 52);
    line-height: 1.714;

    font-family: 'ubuntulight';
    
   }
   textarea::placeholder {
    font-size: 14px;
    color: rgb(47, 50, 52);
    line-height: 1.714;

    font-family: 'ubuntulight';

   }

  
.form__input{
    width:100%;
    border-radius: 3px ;
    border:3px solid transparent;
}
.textarea__input{
    resize:none;
    border-radius: 3px ;
}                                     
///                             radio-buttons
.form__radios {
    display: flex;
  }
  
  .form__radio {
    display: flex;
    margin-right: 20px;
    position: relative;
  }
  .form__radio-title{
    user-select: none;
    font-size: 14px;
    font-family: "ubuntulight";
    color: rgb(255, 255, 255);

  }
  
    .form__radio-elem{
    position: absolute;
    left: -9999px;
  }
  .form__radio-fake {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    margin-right: 5px;
    position: relative;
  }
  .form__radio-fake::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0;
    border-radius: 50%;
    background:$orange;
  }
 
 
  .form__radio-elem:checked + .form__radio-fake::after {
    width: 7px;
    height: 7px;
  }
   ////                                             checkbox      
  
   .form__checkboxs{
        display:flex;

    }
    
    .form__checkbox{
            display: flex;
    }

     .form__checkbox-elem{
        position:absolute;
        left: -9999px;

    }

   .form__checkbox-title{
       user-select: none;
       margin-left: 10px;
    font-size: 14px;
    font-family: "ubuntulight";
    color: rgb(255, 255, 255);
   }
   

   .form__checkbox-fake{
       position: relative;
       display:block;
       background-color: white;
    width:15px;
    height: 15px;
   }

   .form__checkbox-fake:after{
       position: absolute;
       width:0px;
       height: 0px;
       content:'';  
       background:url('../images/checkbox.png') center no-repeat;
   }
    .form__checkbox-elem:checked + .form__checkbox-fake::after{

        width:15px;
        height: 15px;
    }

                                 
