.pagination{
    position: fixed;
    z-index: 2;
    top:15%;
    left:95%;
    @include tablets {
      display: none;
    }
}


    .pagination__item {
      &:hover{

        width: 4.625rem;
      }
      
      margin-bottom: 0.3125rem;
     }

     .pagination__link{
      cursor:pointer;
      position: relative;
      width: 1.625rem;
      height:1.25rem;
      display: block;

     
     }

    .pagination__link::before, .pagination__link--active::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 0.0625rem solid #ffffff;
 

     }

     

     
    .pagination__link::before {
      position: absolute;
      top: 0.5rem;
      left: 0.5625rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #ffffff; 
    }

    .pagination__link--active::after {
      width: 0.875rem;
      height: 0.875rem;
      top: 0.1875rem;
      left: 0.25rem;

    }
  