.pagination{
    position: fixed;
    top:15%;
    left:95%;
}


    .pagination__item {
      
      margin-bottom: 5px;
     }

     .pagination__link{
      cursor:pointer;
      position: relative;
      width: 26px;
      height: 20px;
      display: block;
      
     }

    .pagination__link::before, .pagination__link--active::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid #ffffff;
     }

     

     
    .pagination__link::before {
      position: absolute;
      top: 8px;
      left: 9px;
      width: 4px;
      height: 4px;
      background-color: #ffffff; 
    }

    .pagination__link--active::after {
      width: 14px;
      height: 14px;
      top: 3px;
      left: 4px;
    }
  