.reviews{
    background: $black;
}
.reviews__list{
    height: 100%;
    display:flex;
    flex-wrap: wrap;
}
.reviews__item{
    width: 25%;
    height: 50%; 
    
    @include tablets {
        width: 50%;
        height: 25%;
                    }

    background:center center /cover no-repeat;
    filter:grayscale(100%);
    &:hover{
        .reviews__hover-block{
            opacity: 1;
            transform:scale(1);
                            }
        
            }
    
    }

    .review {
        height: 100%;
        position: relative;
      }

    .reviews__hover-block{
        padding: 0% 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        align-items: center;
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.5);
    opacity: 0;
    transition:0.5s;
    transform:scale(0.8);
    color: rgb(255, 255, 255);

    }
 
  
.reviews__title{
    font-size: 0.875rem;
    font-family: "Gagalin-regular";
    line-height: 2;
    @include phones {
        font-size: 1.5rem;
        text-align: center;
      }
}

.reviews__text{
    font-size: 0.875rem;
    font-family: "ubuntulight";
    line-height: 1.7;
    @include phones {
        display: none;
      }

}

  
