.title{
    font-family: "Gagalin-Regular";
    color:$yellow;
    font-size:4.5rem;
    margin-bottom: 1.25rem;
  
    &--color-black{
        text-align: center;
        color:$black;
    }
    &.title_order{
        text-align: center;

    }      

    &.title_menu{
        color:$white;
        position: absolute;
        top:15%;
        left:10%;
    }
    
    @include tablets{
        font-size: 3.9rem;
     }
    
}

.title_team{
    text-align: left;
    @include tablets{
        text-align: center;

     }
}
.team__member-name{
    margin-bottom: 0px;
    font-size: 0.875rem;
    color:$white;
    line-height: 2.008;
    text-align: left;
}

.menu__title{
    white-space: nowrap;
    width:100%;
    margin-bottom:5rem;
    transform:rotate(-90deg);
    font-size: 2.5rem;
    color:$white;
    @include tablets{
      font-size: 2.1875rem;
   }
}

