.video{
    background: url('../images/video/video-bg .png');
    @include cover;
    display: flex;
    align-items: center;

}
#yt-player{
    display: flex;
    align-self: center;
 
}
.container-player{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}