@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/Ubuntu.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/Lifehack/Lifehack-Medium.woff2");
  font-weight: normal;
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'ubuntumedium' , 'hevetica','sans-serif';
  color: #2f3234; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section {
  height: 100vh;
  min-height: 650px; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.section-title {
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 40px; }
  .section-title_color_black {
    color: #2f3234; }
  .section-title_position_center {
    text-align: center; }

.container {
  margin: 0 auto;
  width: 940px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .container--without-align {
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
        -ms-flex-pack: initial;
            justify-content: initial; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hero {
  background: url("../images/hero/bg-1.jpg") center center/cover no-repeat; }

.logo {
  display: block; }

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container--without-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/*.hero__content{
    display: flex;
    align-items: center;
}*/
.hero__text {
  padding-top: 50px; }

.hero__desc {
  font-size: 60px;
  font-family: "lifehackmedium";
  font-style: italic;
  color: #fff;
  line-height: 1.181; }

.best {
  background: url("../images/best/bg.jpg") center center no-repeat/cover; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  padding: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.best__img-pic {
  height: 100px;
  width: 100px; }

.best__desc {
  margin-top: 50px;
  text-align: center; }

.best__title {
  font-size: 24px;
  font-family: "lifehackmedium";
  color: #2f3234;
  line-height: 1.167; }

.best__text {
  font-family: 'ubuntulight';
  margin-top: 20px;
  font-size: 14px;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714; }

.header {
  padding-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  margin-right: 15px; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.nav__item:last-child .nav__link:after {
  display: none; }

.nav__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__link:after {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
    margin: 0 10px; }

.btn {
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 15px;
  background-color: #e35028;
  color: #fff;
  font-size: 13px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  outline: none; }
  .btn:hover {
    background-color: #c1401e; }
  .btn--bg-black {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-top: 20px;
    background-color: #2f3234; }
    .btn--bg-black:hover {
      background-color: #1f2122; }
    @media (max-width: 480px) {
      .btn--bg-black {
        display: none; } }

.btn--red form {
  margin-right: 20px; }

.btn-review_phones {
  display: none; }
  @media (max-width: 480px) {
    .btn-review_phones {
      display: block; } }

.to-next-section {
  outline: none;
  border: none;
  padding: 20px 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/arrow-scroll.png") center no-repeat;
  background-color: transparent; }

.reset__button {
  margin-left: 20px;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "ubuntulight"; }

.title {
  font-family: "Gagalin-Regular";
  color: #f9b43b;
  font-size: 72px;
  margin-bottom: 20px; }
  .title--color-black {
    text-align: center;
    color: #2f3234; }
  .title.title_order {
    text-align: center; }

.reviews {
  background: #2f3234; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center /cover no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  @media (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover-block {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.review {
  height: 100%;
  position: relative; }

.reviews__hover-block {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 7%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  color: white; }
  @media (max-width: 768px) {
    .reviews__hover-block {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.reviews__title {
  font-size: 14px;
  font-family: "Gagalin-regular";
  line-height: 2; }
  @media (max-width: 480px) {
    .reviews__title {
      font-size: 24px;
      text-align: center; } }

.reviews__text {
  font-size: 14px;
  font-family: "ubuntulight";
  line-height: 1.7; }
  @media (max-width: 480px) {
    .reviews__text {
      display: none; } }

.order {
  background-color: #2f3234;
  background: url("../images/order/bg-texture.png") center center/cover; }

form {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__col {
  width: 50%; }

.form__row {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px; }

.form__block-title {
  font-family: 'ubuntulight';
  font-size: 14px; }

input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]::placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::placeholder {
  font-size: 14px;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

.form__input {
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 3px solid transparent; }

.textarea__input {
  resize: none;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.form__radios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  position: relative; }

.form__radio-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  font-family: "ubuntulight";
  color: white; }

.form__radio-elem {
  position: absolute;
  left: -9999px; }

.form__radio-fake {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: white;
  margin-right: 5px;
  position: relative; }

.form__radio-fake::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e45028; }

.form__radio-elem:checked + .form__radio-fake::after {
  width: 7px;
  height: 7px; }

.form__checkboxs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox-elem {
  position: absolute;
  left: -9999px; }

.form__checkbox-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10px;
  font-size: 14px;
  font-family: "ubuntulight";
  color: white; }

.form__checkbox-fake {
  position: relative;
  display: block;
  background-color: white;
  width: 15px;
  height: 15px; }

.form__checkbox-fake:after {
  position: absolute;
  width: 0px;
  height: 0px;
  content: '';
  background: url("../images/checkbox.png") center no-repeat; }

.form__checkbox-elem:checked + .form__checkbox-fake::after {
  width: 15px;
  height: 15px; }

.pagination {
  position: fixed;
  top: 80%;
  left: 85%; }

.pagination {
  position: absolute;
  top: 5%;
  left: 84%; }

.pagination__item {
  width: 16px;
  height: 16px;
  margin-bottom: 5px; }

.pagination__link::before, .pagination__link--active::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #ffffff; }

.pagination__link::before {
  width: 4px;
  height: 4px;
  background-color: #ffffff; }

.pagination__link--active::after {
  width: 14px;
  height: 14px;
  top: -5px;
  left: -5px; }
