@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/Ubuntu.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/Lifehack/Lifehack-Medium.woff2");
  font-weight: normal;
  font-style: normal; }

:root {
  font-size: 16px; }
  @media (max-width: 992px) {
    :root {
      font-size: 15px; } }
  @media (max-width: 768px) {
    :root {
      font-size: 14px; } }
  @media (max-width: 480px) {
    :root {
      font-size: 13px; } }
  @media (max-width: 375px) {
    :root {
      font-size: 12px; } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  /*
  font-size: 1rem;
  @include tablets {
    font-size: 0.937rem;
  }

  @include phones {
    font-size: 0.8121rem;
  }
  */ }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'ubuntumedium' , 'hevetica','sans-serif';
  color: #2f3234; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section {
  overflow: hidden;
  height: 100vh; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.section-title {
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 2.5rem; }
  .section-title_color_black {
    color: #2f3234; }
  .section-title_position_center {
    text-align: center; }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hero {
  background: url("../images/hero/bg-1.jpg") center center/cover no-repeat;
  position: relative; }

.container__hero {
  height: 100%; }

.logo {
  display: block; }

/*.hero__container{
display: flex;
@include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20%;
  }
}*/
.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      padding: 0 10%; } }

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%; }

.hero__left,
.hero__right {
  float: left;
  width: 50%; }
  @media (max-width: 768px) {
    .hero__left,
    .hero__right {
      float: none;
      width: auto; } }

.hero__right {
  padding-top: 7.18rem; }
  @media (max-width: 768px) {
    .hero__right {
      padding-top: 0; } }

/*.container--without-align{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.hero__content{
    display: flex;
    align-items: center;
}*/
.hero__text {
  padding-top: 3.125rem; }

.hero__burger-img {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%; }

.hero__desc {
  font-size: 3.75rem;
  font-family: "lifehackmedium";
  font-style: italic;
  color: #fff;
  line-height: 1em; }
  @media (max-width: 768px) {
    .hero__desc {
      font-size: 3.4rem; } }

.best {
  background: url("../images/best/bg.jpg") center center no-repeat/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .best__svg {
    width: 6.0625rem;
    height: 5.5625rem; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.best__item {
  padding: 0.93rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 480px) {
    .best__item {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -webkit-flex-direction: initial;
          -ms-flex-direction: initial;
              flex-direction: initial; } }

.best__img-pic {
  height: 6.25rem;
  width: 6.25rem; }

.best__desc {
  margin-top: 3.1rem;
  text-align: center; }
  @media (max-width: 480px) {
    .best__desc {
      text-align: left;
      margin-left: 1.25rem; } }

.best__title {
  font-size: 1.5rem;
  font-family: "lifehackmedium";
  color: #2f3234;
  line-height: 1.167; }

.best__text {
  font-family: 'ubuntulight';
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714; }

.svg-beef {
  fill: #e35028; }

.svg-hand {
  fill: #f9b43b; }

.svg-natural {
  fill: #8bc03f; }

.header {
  padding-top: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__links {
  margin-right: 2.5rem; }

.nav__header {
  margin-right: 1.25rem; }
  @media (max-width: 768px) {
    .nav__header {
      display: none; } }

.nav {
  margin-right: 0.937rem; }

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: 2rem; }

.nav__item {
  white-space: nowrap; }

.nav__item:last-child .nav__link:after {
  display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8121rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__link:after {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    display: block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
    margin: 0 0.625rem; }

.btn {
  border: none;
  -webkit-border-radius: 0.31rem;
          border-radius: 0.31rem;
  padding: 0.625rem 0.937rem;
  background-color: #e35028;
  color: #fff;
  cursor: pointer;
  font-size: 0.8125rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  outline: none; }
  .btn:hover {
    background-color: #c1401e; }
  .btn--bg-black {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-border-radius: 0.31rem;
            border-radius: 0.31rem;
    margin-top: 1.25rem;
    background-color: #2f3234; }
    .btn--bg-black:hover {
      background-color: #1f2122; }
    @media (max-width: 768px) {
      .btn--bg-black {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        margin-top: 0.5rem; } }
    @media (max-width: 480px) {
      .btn--bg-black {
        display: none; } }

.btn--red form {
  margin-right: 1.25rem; }

.btn-review_phones {
  cursor: pointer;
  display: none;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  @media (max-width: 480px) {
    .btn-review_phones {
      display: block; } }

.to-next-section {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1.25rem 1.875rem;
  align-self: center;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/arrow-scroll.png") center no-repeat;
  background-color: transparent; }

.reset__button {
  cursor: pointer;
  margin-left: 1.25rem;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 0.875rem;
  font-family: "ubuntulight"; }

.scroll-btn {
  padding: .5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .scroll-btn_left, .scroll-btn_right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 99;
    padding: 5rem 1rem; }
  .scroll-btn_left {
    right: -2rem; }
  .scroll-btn_right {
    left: -2rem; }

.arrow-scroll {
  width: 2rem;
  height: 1rem;
  fill: white; }
  .arrow-scroll--left {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .arrow-scroll--right {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.title {
  font-family: "Gagalin-Regular";
  color: #f9b43b;
  font-size: 4.5rem;
  margin-bottom: 1.25rem; }
  .title--color-black {
    text-align: center;
    color: #2f3234; }
  .title.title_order {
    text-align: center; }
  .title.title_menu {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 10%; }
  @media (max-width: 768px) {
    .title {
      font-size: 3.9rem; } }
  .title.title_burger {
    color: white;
    font-size: 3rem;
    line-height: 1.053;
    text-align: center; }
  .title.title_price {
    color: #e35028;
    font-size: 4.3rem; }
  .title.title_price-name {
    color: #e35028;
    font-size: 1.9rem;
    margin-right: 1.875rem; }

.title_team {
  text-align: left; }
  @media (max-width: 768px) {
    .title_team {
      text-align: center; } }

.team__member-name {
  margin-bottom: 0px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 2.008;
  text-align: left; }

.menu__title {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 5rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 2.5rem;
  color: #fff; }
  @media (max-width: 768px) {
    .menu__title {
      font-size: 2.1875rem; } }

.reviews {
  background: #2f3234; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center /cover no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  @media (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover-block {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.review {
  height: 100%;
  position: relative; }

.reviews__hover-block {
  padding: 0% 7%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  color: white; }
  @media (max-width: 768px) {
    .reviews__hover-block {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.reviews__title {
  font-size: 0.875rem;
  font-family: "Gagalin-regular";
  line-height: 2; }
  @media (max-width: 480px) {
    .reviews__title {
      font-size: 1.5rem;
      text-align: center; } }

.reviews__text {
  font-size: 0.875rem;
  font-family: "ubuntulight";
  line-height: 1.7; }
  @media (max-width: 480px) {
    .reviews__text {
      display: none; } }
  @media (max-width: 768px) {
    .reviews__text {
      text-align: center; } }

.order {
  background-color: #2f3234;
  background: url("../images/order/bg-texture.png") center center/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

input {
  padding: 5px; }

textarea {
  padding: 5px; }

form {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.form__col {
  width: 100%; }
  @media (max-width: 768px) {
    .form__col {
      padding: 0% 5%; } }
  @media (max-width: 480px) {
    .form__col {
      padding: 0; } }

.form_part1 {
  margin-right: 1.25rem; }
  @media (max-width: 768px) {
    .form_part1 {
      margin-right: 0; } }

@media (max-width: 480px) {
  .form_part2 .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.form__row {
  padding-top: 1.25rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  font-family: 'ubuntulight';
  font-size: 0.875rem; }

input[type="text"]::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

input[type="text"]::placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

textarea::placeholder {
  font-size: 0.875rem;
  color: #2f3234;
  line-height: 1.714;
  font-family: 'ubuntulight'; }

.form__input {
  width: 100%;
  -webkit-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  border: 0.1875rem solid transparent; }
  .form__input.is-active {
    border: 2px solid #f9b43b; }

.textarea__input {
  resize: none;
  -webkit-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  width: 100%; }

.form__radios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem;
  position: relative; }

.form__radio-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.875rem;
  font-family: "ubuntulight";
  color: white; }

.form__radio-elem {
  position: absolute;
  left: -624.9375rem; }

.form__radio-fake {
  width: 0.937rem;
  height: 0.937rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: white;
  margin-right: 0.3125rem;
  position: relative; }

.form__radio-fake::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e45028; }

.form__radio-elem:checked + .form__radio-fake::after {
  width: 0.4375rem;
  height: 0.4375rem; }

.form__checkboxs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox-elem {
  position: absolute;
  left: -624.9375rem; }

.form__checkbox-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 0.625rem;
  font-size: 0.875rem;
  font-family: "ubuntulight";
  color: white; }

.form__checkbox-fake {
  position: relative;
  display: block;
  background-color: white;
  width: 0.937rem;
  height: 0.937rem; }

.form__checkbox-fake:after {
  position: absolute;
  width: 0rem;
  height: 0rem;
  content: '';
  background: url("../images/checkbox.png") center no-repeat; }

.form__checkbox-elem:checked + .form__checkbox-fake::after {
  width: 0.937rem;
  height: 0.937rem; }

.error {
  color: red; }

.pagination {
  position: fixed;
  z-index: 2;
  top: 15%;
  left: 95%; }
  @media (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination__item {
  margin-bottom: 0.3125rem; }

.pagination__link {
  cursor: pointer;
  position: relative;
  width: 1.625rem;
  height: 1.25rem;
  display: block; }

.pagination__link::before, .pagination__link--active::after {
  content: "";
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 0.0625rem solid #ffffff; }

.pagination__link::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5625rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #ffffff; }

.pagination__link--active::after {
  width: 0.875rem;
  height: 0.875rem;
  top: 0.1875rem;
  left: 0.25rem; }

.team {
  background: url("../images/team/team-bg.jpg") 50% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }
  .team .title {
    margin-bottom: 12%; }

.team__content {
  margin-top: 6.25rem;
  text-align: center; }

.team__section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 0 7%; }
  @media (max-width: 768px) {
    .team__section {
      width: 100%;
      padding: 0; } }

.menu {
  background: url("../images/menu/menu-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu__accordion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item.is-active .menu__title {
    color: #f9b43b; }
  .menu__item.is-active .menu__text {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s; }
  .menu__item.is-active .menu__content {
    width: 32.5rem; }

.menu__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 5rem; }
  @media (max-width: 768px) {
    .menu__link {
      width: 4rem; } }

.menu__content {
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: width 0.7s;
  -o-transition: width 0.7s;
  transition: width 0.7s; }

.menu__text {
  font-family: "ubuntulight";
  color: #fff;
  font-size: 0.875rem;
  opacity: 0;
  line-height: 1.8;
  padding: 4rem 2rem;
  opacity: 0; }

.nav-mobile {
  background: black;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: -62.4375rem;
  right: 0;
  left: 0;
  z-index: 99; }
  .nav-mobile__menu {
    display: none; }
  .nav-mobile .logo {
    display: none; }
  .nav-mobile.is-active {
    background: black;
    top: 0;
    bottom: 0;
    background-color: rgba(47, 50, 52, 0.95);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .nav-mobile.is-active .nav-mobile__menu {
      display: block; }
    .nav-mobile.is-active .logo {
      display: block;
      position: fixed;
      top: 0.75rem;
      z-index: 999; }
      @media (max-width: 768px) {
        .nav-mobile.is-active .logo {
          left: 1.1875rem; } }
      @media (max-width: 480px) {
        .nav-mobile.is-active .logo {
          left: 0.8125rem; } }
  .nav-mobile__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav-mobile__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-mobile__item::after {
      content: "";
      width: 0.3125rem;
      height: 0.3125rem;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #fff;
      margin: 1rem 0; }
    .nav-mobile__item:last-child::after {
      display: none; }
  .nav-mobile__link {
    color: #fff;
    font-size: 1.375rem;
    padding: 0.25rem;
    text-transform: uppercase; }

.nav-trigger {
  display: none;
  position: fixed;
  top: 2.4rem;
  right: 1.0rem;
  z-index: 999; }
  @media (max-width: 768px) {
    .nav-trigger {
      display: block; } }
  .nav-trigger__link {
    display: block;
    width: 25Px;
    height: 25Px; }
  .nav-trigger__badge, .nav-trigger__badge::before, .nav-trigger__badge::after {
    display: block;
    height: 4px;
    width: 25Px;
    -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
    background-color: #fff; }
  .nav-trigger__badge::after, .nav-trigger__badge::before {
    content: '';
    position: absolute; }
  .nav-trigger__badge::before {
    top: 9Px; }
  .nav-trigger__badge::after {
    top: 18Px; }
  .nav-trigger.is-active .nav-trigger__badge {
    background-color: transparent; }
    .nav-trigger.is-active .nav-trigger__badge::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav-trigger.is-active .nav-trigger__badge::after {
      -webkit-transform: translateY(-9Px) rotate(-45deg);
          -ms-transform: translateY(-9Px) rotate(-45deg);
              transform: translateY(-9Px) rotate(-45deg); }

/*

.header__links{
    display:flex;
}

.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 1.375rem;
	align-items: center;
	margin-left: 2.5rem;
  display: none;

  @include tablets() {
    display: flex;
  }
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: 1.5rem;
		height: 0.3125rem;
		border-radius: 0.1875rem;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}
*/
.team-acco__item {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.875rem; }
  @media (max-width: 768px) {
    .team-acco__item {
      display: block; } }
  .team-acco__item:last-child {
    margin-bottom: 0; }
  .team-acco__item.is-active .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item.is-active .team-acco__trigger:before {
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg); }

.team-acco__trigger {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Gagalin-Regular";
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .team-acco__trigger {
      font-size: 1.56rem; } }
  .team-acco__trigger:before, .team-acco__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.2rem;
    width: 0;
    height: 0; }
    @media (max-width: 768px) {
      .team-acco__trigger:before, .team-acco__trigger:after {
        top: 1rem; } }
  .team-acco__trigger:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .team-acco__trigger:after {
    display: none;
    border-bottom: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0px solid transparent; }

.team-acco__content-wrap {
  display: none; }

.team-acco__content {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .team-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.team-acco__pic {
  margin-right: 2rem; }
  @media (max-width: 768px) {
    .team-acco__pic {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 1em;
      margin-right: 0rem; } }

.team-acco__img {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.team-acco__text {
  width: 50%; }

.team-acco__title {
  text-align: left;
  font-family: 'ubuntubold';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.875rem; }
  @media (max-width: 768px) {
    .team-acco__title {
      text-align: center; } }

.team-acco__text-content {
  text-align: left;
  font-family: 'ubuntulight';
  color: #fff;
  font-size: 0.875rem; }
  @media (max-width: 768px) {
    .team-acco__text-content {
      text-align: center; } }

.map {
  background: url("../images/map/map-bg.jpg") center/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative; }

.footer {
  color: #fff;
  background: url("../images/map/footer-bg.jpg") center no-repeat/cover;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0.625rem 0; }

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 480px) {
    .footer-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (max-width: 480px) {
  .footer-col {
    width: 100%; } }

@media (max-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.contacts__adress {
  font-size: 0.875rem;
  font-family: 'ubuntulight'; }

.contacts__link {
  color: #e35028;
  font-family: 'ubuntubold';
  font-size: 0.875rem; }

@media (max-width: 480px) {
  .socials {
    margin-top: 0.625rem; } }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .footer__socials {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.social__item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 0.625rem; }
  .social__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .social__item:last-child {
    margin-right: 0; }

.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.socials__link-icon {
  width: 1.56rem;
  height: 1.56rem;
  fill: #606060; }
  .socials__link-icon:hover {
    fill: #fff; }

.contacts__phone {
  margin-top: 5px; }

.contacts__phone-svg {
  width: 1rem;
  height: 1rem;
  fill: #e35028;
  margin-right: 0.3125rem; }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  position: relative; }

.container__burgers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.slider__frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.slider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }
  .slider__list.is-reverse {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .slider__list.is-move {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }

.slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  .slider__item.is-one {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

.burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  position: relative; }
  @media (max-width: 768px) {
    .burger {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.burger__photo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 0; }
  @media (max-width: 768px) {
    .burger__photo {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto;
      padding-bottom: 0;
      text-align: center; } }

.burger__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem; }
  @media (max-width: 768px) {
    .burger__desc {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto;
      margin-left: 0;
      text-align: center; } }

.burger__img {
  max-width: 100%; }
  @media (max-width: 768px) {
    .burger__img {
      max-width: 80%; } }

.burger__text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.7; }

.burger__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (max-width: 768px) {
    .burger__order {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.burger__badge {
  position: absolute;
  top: 21.875rem; }
  @media (max-width: 768px) {
    .burger__badge {
      top: 10%;
      right: 0%; } }
  @media (max-width: 480px) {
    .burger__badge {
      top: 10%;
      right: -10%; } }

.badge__kkal-svg {
  max-width: 3.4375rem;
  max-height: 3.75rem;
  fill: rgba(247, 247, 247, 0.5); }

.callory-number {
  position: relative;
  text-align: center;
  z-index: 2;
  font-family: 'Gagalin-Regular';
  font-size: 1rem;
  color: rgba(247, 247, 247, 0.5);
  top: -1.125rem;
  left: -2.75rem; }

.callory-text {
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  color: rgba(247, 247, 247, 0.5);
  position: relative;
  z-index: 2;
  top: 0.5rem;
  left: -4.8125rem; }

.burger__btn-consist {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  top: 5%;
  background: #f08c33;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  @media (max-width: 768px) {
    .burger__btn-consist {
      top: 10%;
      left: 0%; } }

.burger__btn-svg {
  max-width: 2.5rem;
  max-height: 2.5rem;
  fill: white; }

.burger__btn-text {
  color: white;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0005;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000; }

.overlay-wrap {
  margin: 0 auto; }

.content {
  width: 25rem;
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0.625rem;
  color: black;
  font: 1rem Helvetica, sans-serif;
  margin: 0; }

.close {
  display: block;
  position: relative;
  right: -24rem;
  top: 0.5rem;
  background: #d00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  text-decoration: none; }
  .close:after {
    top: 0.75rem;
    left: 5px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 5px;
    background: gold;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close:before {
    top: 0.75rem;
    left: 5px;
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 5px;
    background: gold;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.overlay__title {
  font-size: 0.875rem;
  font-family: "Gagalin-regular";
  line-height: 2; }

.overlay__text {
  text-align: center; }
